# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local    # Keep this ignored as it’s environment-specific
.env.development.local
.env.test.local
.env.production.local

# Ignore .env files but not the main .env file
.env*         # Ignore all other .env files, except the main one
npm-debug.log*
yarn-debug.log*
yarn-error.log*
